.container-projectStats {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 1.2rem;
}

.container-projectStats_title {
	display: flex;
	justify-content: flex-end;
}

.container-projectStats_content {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.projectStats_content-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}
.projectStats_content-item > div {
	flex: 1;
}
.projectStats_content-item_data {
	display: flex;
	justify-content: space-around;
}
.projectStats_content-item_data > h3 {
	color: #4361ee;
	margin: 0 0 2rem 0;
}
.content-item_name {
	margin-left: 2rem;
}
.border_bottom {
	border-bottom: 1.6px dashed #cbc6c6;
}
