body {
	margin: 0;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
	background-color: #4361EE14 !important;
}

.container-register,
.container-login {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	background-color: #f5f5f5;
}

.container-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 70%;
	background-color: #4361ee;
	color: white;
}

.container-register-form,
.container-login-form {
	position: absolute;
	right: 15%;
	display: flex;
	justify-content: center;
	width: 30%;
	background-color: white;
	padding: 0.5rem;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.container-profile {
	display: flex;
	flex-direction: column;
	margin: 4rem;
}

.container-profile_title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.container-profile_content {
	display: flex;
	width: 100%;
}

.container-profile_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #e2e6fd;
	margin: 0 5% 0 0;
	padding: 2rem 0;
	flex: 2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.container-profile_card-header {
	display: flex;
	place-content: center;
	height: 164px;
	width: 164px;
	border: 2px solid #4361ee;
	background-color: white;
	border-radius: 100%;
}
.container-profile_card-header > img {
	width: 90%;
	object-fit: cover;
}

.container-profile_card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-profile_information {
	display: flex;
	flex-direction: column;
	flex: 3;
	margin-left: 5%;
}

.basic-information,
.security {
	display: flex;
	flex-direction: column;
}
.basic-information_title,
.security_title {
	border-bottom: 1px solid rgba(67, 97, 238, 0.5);
}
